version: "3.8"
services:
  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
    volumes:
      - ./infra/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

  influxdb:
    image: influxdb:2.7
    ports:
      - "8086:8086"
    volumes:
      - influxdb_data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=adminadmin
      - DOCKER_INFLUXDB_INIT_ORG=iot
      - DOCKER_INFLUXDB_INIT_BUCKET=smart_home
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=super-secret-token-change

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      # For actuator control you can use Button Panel plugin
      - GF_INSTALL_PLUGINS=speakyourcode-button-panel,yesoreyeram-infinity-datasource
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    volumes:
      - grafana_data:/var/lib/grafana
      - ./infra/grafana/provisioning:/etc/grafana/provisioning:ro
      - ./infra/grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - influxdb

  server:
    build: ./server
    ports:
      - "5000:5000"
    environment:
      - MQTT_BROKER=mosquitto
      - MQTT_PORT=1883
      - MQTT_TOPIC=home/#
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=super-secret-token-change
      - INFLUX_ORG=iot
      - INFLUX_BUCKET=smart_home
      - WEBC_URL=${WEBC_URL:-}
    depends_on:
      - mosquitto
      - influxdb

volumes:
  influxdb_data:
  grafana_data:
