apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    jsonData:
      version: Flux
      organization: iot
      defaultBucket: smart_home
      httpMode: POST
      timeout: 300
    secureJsonData:
      token: super-secret-token-change
    withCredentials: false
